<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Создать</title>
  <meta name="description" content="Admin">
  <meta name="author" content="NIKITA">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<% include partials/header %>
  <h1 id='Wel'>Users</h1>
  <%for(let user of x){%>
  <h1>Username: <%=user.username%>  Role: <%=user.role%></h1>
    <%if(user.role != 'admin'){%>
     <form method='POST' action='/deleteuser'>
          <div>
              <input type='hidden' name='id' value='<%=user.id%>' />
          </div>
          <div>
              <input type='submit' value='Delete'/>
          </div>
    <%}%>
  <%}%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>