<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Api v1</title>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="css/style.css" rel="stylesheet">
</head>
<body>
  <h1>Api v1</h1>
  <p>C помощью этого api вы сможете работать с базой, которая хранит в себе игроков</p>
  <p>Обычные пользователи могут делать только GET запросы для получения всех игроков, или одного уникального</p>
  <p>"api/v1/players?page=X" - для получения всего списка, вместо Х номер страницы</p>
  <p>Вы получите массив из максимум 5 игроков и ссылку на след страницу, если она есть(так же и н апрошлую страницу)</p>
  <p>"api/v1/players/nickname" - для получения уникального игрока, вместо nickname уникальный nickname игрока</p>
  <p>Также админ может использовать 3 POST запроса, для добавления, удаления и изменения уникального игрока</p>
  <p>Для авторизации нужно использовать хедер под названием Authorization где будет храниться Basic логин:пароль(в base64)</p>
  <p>"api/v1/players/delete?nickname=X" - для удаления, вместо Х ник игрока</p>
  <p>"api/v1/players/create" - для создания, необходимо заполнить body, где указать name, nickname и image(ссылку на картинку)</p>
  <p>"api/v1/players/update?nickname=X" - для изменения, необходимо в body указать поля(name, nickname и image) которые хотить изменить в уникальном игроке, вместо Х ник игрока</p>
</body>
</html>