<!doctype html>
<html lang="en">
<head>
  <title>Создать</title>
  <meta name="description" content="Create">
  <meta name="author" content="NIKITA">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/signin.css" rel="stylesheet">
</head>
<body>
<% include partials/header %>
<%if(err == 1){%>
<h1>Ник занят</h1>
<%}%>
    <form class="form col-md-6" method='POST' action='/players/create' enctype='multipart/form-data'>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id ='name' required='true' name='name' placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="Nickname">Nickname</label>
            <input type="text" class="form-control" id ='nickname' required='true' name='nickname' placeholder="Enter nickname">
        </div>
        <div class="form-group">
            <label for="image">Image input</label>
            <input type='file' id='image' required='true' name='image' accept='image/*'>
        </div>
        <div>
            <button type="submit" value='Create' class="btn btn-default">Отправить</button>
        </div>
    </form>
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>