<!DOCTYPE html>
<html lang="en">
  <head>
  <title>MONOPOLY</title>
  <meta name="description" content="MONOPOLY GAME">
  <meta name="author" content="NIKITA">
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/signin.css" rel="stylesheet">

</head>
<body>
<% include partials/header %>
    <div class="main w3l">
        <h2>OOPS</h2>
        <h1> ERROR <%=err%></h1>
        <h3><%=errmess%></h3>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>