<!DOCTYPE html>
<html lang="en">
  <head>
  <title>MONOPOLY</title>
  <meta name="description" content="MONOPOLY GAME">
  <meta name="author" content="NIKITA">
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/style.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/signin.css" rel="stylesheet">
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

</head>
<body>

  


  <div id="app">
    <div class="col-md-1"  v-if="!end">
      <p class="you">{{you.name}}</p>
      <p class="you">{{you.money}}</p>
      <p class="op">{{opon.name}}</p>
      <p class="op">{{opon.money}}</p>
      <button @click="buyCell()" v-if="canBuy">
      <i class="ion-cash"></i>
    </button>
    <button @click="steep()" v-if="step">
      <i class="ion-arrow-right-c"></i>
    </button>
    <button @click="payTribute()" v-if="cellOp || pay">
      <i class="ion-card"></i>
    </button>
    </div>
    <div class="col-md-1"  v-if="end">
      <p class="you">Game end</p>
      <p class="you"> You {{status}}</p>
      <form action="/">
        <button>
          <i class="ion-arrow-right-c"></i>
        </button>
      </form>
    </div>
    <div class="col-md-offset-2">
      <div class="1line">
        <div class="col-md-1 col-md-offset-1 corner" :class="{'mycell': checkMy(1), 'opcell': checkOp(1), 'curr': you.curr == 1, 'currop': opon.curr == 1}">
          <p>{{cells[0].type}}</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(2), 'opcell': checkOp(2), 'curr': you.curr == 2, 'currop': opon.curr == 2}">
          <p>{{cells[1].prise}}k</p>
          <p>{{cells[1].tribute}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(3), 'opcell': checkOp(3), 'curr': you.curr == 3, 'currop': opon.curr == 3}">
          <p>-</p>
          <p>{{cells[2].value}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(4), 'opcell': checkOp(4), 'curr': you.curr == 4, 'currop': opon.curr == 4}">
          <p>{{cells[3].prise}}k</p>
          <p>{{cells[3].tribute}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(5), 'opcell': checkOp(5), 'curr': you.curr == 5, 'currop': opon.curr == 5}">
          <p>+</p>
          <p>{{cells[4].value}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(6), 'opcell': checkOp(6), 'curr': you.curr == 6, 'currop': opon.curr == 6}">
          <p>{{cells[5].prise}}k</p>
          <p>{{cells[5].tribute}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(7), 'opcell': checkOp(7), 'curr': you.curr == 7, 'currop': opon.curr == 7}">
          <p>{{cells[6].prise}}k</p>
          <p>{{cells[6].tribute}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(8), 'opcell': checkOp(8), 'curr': you.curr == 8, 'currop': opon.curr == 8}">
          <p>-</p>
          <p>{{cells[7].value}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(9), 'opcell': checkOp(9), 'curr': you.curr == 9, 'currop': opon.curr == 9}">
          <p>{{cells[8].prise}}k</p>
          <p>{{cells[8].tribute}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(10), 'opcell': checkOp(10), 'curr': you.curr == 10, 'currop': opon.curr == 10}">
          <p>{{cells[9].prise}}k</p>
          <p>{{cells[9].tribute}}k</p>
        </div>
        <div class="col-md-1 corner" :class="{'mycell': checkMy(11), 'opcell': checkOp(11), 'curr': you.curr == 11, 'currop': opon.curr == 11}">
          <p>{{cells[10].type}}</p>
        </div>
      </div>
      <div class="2line">
        <div class="col-md-1 col-md-offset-1 vline" :class="{'mycell': checkMy(40), 'opcell': checkOp(40), 'curr': you.curr == 40, 'currop': opon.curr == 40}">
          <p>{{cells[39].prise}}k</p>
          <p>{{cells[39].tribute}}k</p>
        </div>
        <div class="col-md-1 col-md-offset-9 vline" :class="{'mycell': checkMy(12), 'opcell': checkOp(12), 'curr': you.curr == 12, 'currop': opon.curr == 12}">
          <p>{{cells[11].prise}}k</p>
          <p>{{cells[11].tribute}}k</p>
        </div>
      </div>
      <div class="3line">
        <div class="col-md-1 col-md-offset-1 vline" :class="{'mycell': checkMy(39), 'opcell': checkOp(39), 'curr': you.curr == 39, 'currop': opon.curr == 39}">
          <p>-</p>
          <p>{{cells[38].value}}k</p>
        </div>
        <div class="col-md-1 col-md-offset-9 vline" :class="{'mycell': checkMy(13), 'opcell': checkOp(13), 'curr': you.curr == 13, 'currop': opon.curr == 13}">
          <p>+</p>
          <p>{{cells[12].value}}k</p>
        </div>
      </div>
      <div class="4line">
        <div class="col-md-1 col-md-offset-1 vline" :class="{'mycell': checkMy(38), 'opcell': checkOp(38), 'curr': you.curr == 38, 'currop': opon.curr == 38}">
          <p>{{cells[37].prise}}k</p>
          <p>{{cells[37].tribute}}k</p>
        </div>
        <div class="col-md-1 col-md-offset-9 vline" :class="{'mycell': checkMy(14), 'opcell': checkOp(14), 'curr': you.curr == 14, 'currop': opon.curr == 14}">
          <p>{{cells[13].prise}}k</p>
          <p>{{cells[13].tribute}}k</p>
        </div>
      </div>
      <div class="5line">
        <div class="col-md-1 col-md-offset-1 vline" :class="{'mycell': checkMy(37), 'opcell': checkOp(37), 'curr': you.curr == 37, 'currop': opon.curr == 37}">
          <p>+</p>
          <p>{{cells[36].value}}k</p>
        </div>
        <div class="col-md-1 col-md-offset-9 vline" :class="{'mycell': checkMy(15), 'opcell': checkOp(15), 'curr': you.curr == 15, 'currop': opon.curr == 15}">
          <p>{{cells[14].prise}}k</p>
          <p>{{cells[14].tribute}}k</p>
        </div>
      </div>
      <div class="6line">
        <div class="col-md-1 col-md-offset-1 vline" :class="{'mycell': checkMy(36), 'opcell': checkOp(36), 'curr': you.curr == 36, 'currop': opon.curr == 36}">
          <p>{{cells[35].prise}}k</p>
          <p>{{cells[35].tribute}}k</p>
        </div>
        <div class="col-md-1 col-md-offset-9 vline" :class="{'mycell': checkMy(16), 'opcell': checkOp(16), 'curr': you.curr == 16, 'currop': opon.curr == 16}">
          <p>{{cells[15].prise}}k</p>
          <p>{{cells[15].tribute}}k</p>
        </div>
      </div>
      <div class="7line">
        <div class="col-md-1 col-md-offset-1 vline" :class="{'mycell': checkMy(35), 'opcell': checkOp(35), 'curr': you.curr == 35, 'currop': opon.curr == 35}">
          <p>{{cells[34].prise}}k</p>
          <p>{{cells[34].tribute}}k</p>
        </div>
        <div class="col-md-1 col-md-offset-9 vline" :class="{'mycell': checkMy(17), 'opcell': checkOp(17), 'curr': you.curr == 17, 'currop': opon.curr == 17}">
          <p>{{cells[16].prise}}k</p>
          <p>{{cells[16].tribute}}k</p>
        </div>
      </div>
      <div class="8line">
        <div class="col-md-1 col-md-offset-1 vline" :class="{'mycell': checkMy(34), 'opcell': checkOp(34), 'curr': you.curr == 34, 'currop': opon.curr == 34}">
          <p>-</p>
          <p>{{cells[33].value}}k</p>
        </div>
        <div class="col-md-1 col-md-offset-9 vline" :class="{'mycell': checkMy(18), 'opcell': checkOp(18), 'curr': you.curr == 18, 'currop': opon.curr == 18}">
          <p>-</p>
          <p>{{cells[17].value}}k</p>
        </div>
      </div>
      <div class="9line">
        <div class="col-md-1 col-md-offset-1 vline":class="{'mycell': checkMy(33), 'opcell': checkOp(33), 'curr': you.curr == 33, 'currop': opon.curr == 33}">
          <p>{{cells[32].prise}}k</p>
          <p>{{cells[32].tribute}}k</p>
        </div>
        <div class="col-md-1 col-md-offset-9 vline":class="{'mycell': checkMy(19), 'opcell': checkOp(19), 'curr': you.curr == 19, 'currop': opon.curr == 19}">
          <p>{{cells[18].prise}}k</p>
          <p>{{cells[18].tribute}}k</p>
        </div>
      </div>
      <div class="10line">
        <div class="col-md-1 col-md-offset-1 vline" :class="{'mycell': checkMy(32), 'opcell': checkOp(32), 'curr': you.curr == 32, 'currop': opon.curr == 32}">
          <p>{{cells[31].prise}}k</p>
          <p>{{cells[31].tribute}}k</p>
        </div>
        <div class="col-md-1 col-md-offset-9 vline" :class="{'mycell': checkMy(20), 'opcell': checkOp(20), 'curr': you.curr == 20, 'currop': opon.curr == 20}">
          <p>{{cells[19].prise}}k</p>
          <p>{{cells[19].tribute}}k</p>
        </div>
      </div>
      <div class="11line">
        <div class="col-md-1 col-md-offset-1 corner" :class="{'mycell': checkMy(31), 'opcell': checkOp(31), 'curr': you.curr == 31, 'currop': opon.curr == 31}">
          <p>{{cells[30].type}}</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(30), 'opcell': checkOp(30), 'curr': you.curr == 30, 'currop': opon.curr == 30}">
          <p>{{cells[29].prise}}k</p>
          <p>{{cells[29].tribute}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(29), 'opcell': checkOp(29), 'curr': you.curr == 29, 'currop': opon.curr == 29}">
          <p>+</p>
          <p>{{cells[28].value}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(28), 'opcell': checkOp(28), 'curr': you.curr == 28, 'currop': opon.curr == 28}">
          <p>{{cells[27].prise}}k</p>
          <p>{{cells[27].tribute}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(27), 'opcell': checkOp(27), 'curr': you.curr == 27, 'currop': opon.curr == 27}">
          <p>{{cells[26].prise}}k</p>
          <p>{{cells[26].tribute}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(26), 'opcell': checkOp(26), 'curr': you.curr == 26, 'currop': opon.curr == 26}">
          <p>{{cells[25].prise}}k</p>
          <p>{{cells[25].tribute}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(25), 'opcell': checkOp(25), 'curr': you.curr == 25, 'currop': opon.curr == 25}">
          <p>{{cells[24].prise}}k</p>
          <p>{{cells[24].tribute}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(24), 'opcell': checkOp(24), 'curr': you.curr == 24, 'currop': opon.curr == 24}">
          <p>{{cells[23].prise}}k</p>
          <p>{{cells[23].tribute}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(23), 'opcell': checkOp(23), 'curr': you.curr == 23, 'currop': opon.curr == 23}">
          <p>-</p>
          <p>{{cells[22].value}}k</p>
        </div>
        <div class="col-md-1 hline" :class="{'mycell': checkMy(22), 'opcell': checkOp(22), 'curr': you.curr == 22, 'currop': opon.curr == 22}">
          <p>{{cells[21].prise}}k</p>
          <p>{{cells[21].tribute}}k</p>
        </div>
        <div class="col-md-1 corner" :class="{'mycell': checkMy(21), 'opcell': checkOp(21), 'curr': you.curr == 21, 'currop': opon.curr == 21}">
          <p>{{cells[20].type}}</p>
        </div>
      </div>
    </div>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-socket.io@2.1.1-a/dist/build.min.js"></script>
  <script src="/js/test.js"></script>
  
</body>
</html>