<!DOCTYPE html>
<html lang="en">
  <head>
  <title>MONOPOLY</title>
  <meta name="description" content="MONOPOLY GAME">
  <meta name="author" content="NIKITA">
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/style.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/signin.css" rel="stylesheet">

</head>
<body>
<% include partials/header %>
  <h1 id='Wel'>Welcome!</h1>
  <p>На этом сайте вы сможете поиграть с друзьями или сo случайными игроками в <strong>Mонополию</strong></p>
  <p><strong>«Монополия»</strong> — настольная игра в жанре экономической стратегии для двух и более человек.</p> 
  <p>Получила большую популярность в XX веке во многих странах мира.</p>
  <p>Цель игры — рационально используя стартовый капитал, добиться банкротства других игроков.</p>
  <p>Далее вы можете посмотреть список лучших игроков</p>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>