<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/signin.css" rel="stylesheet">
  <%if(pl){%>
  <title><%=pl.username%></title>
  <%} else{%>
  <title>Не найден</title>
  <%}%>
</head>
<body>
<% include partials/header %>
<%if(pl){%>
<div><img src="<%=pl.image%>" class="img-thumbnail"  width="300" height="300" align="left">
  <h1>Username: <%=pl.username%></h1>
  <h1>Всего игр: <%=pl.total%></h1>
  <h1>Побед: <%=pl.win%></h1>
</div>
  <%if(user.username == pl.username){%>
    <div id="update">
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Update image</button>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Update</h4>
          </div>
          <div class="modal-body">
            <p>Enter new fields</p>
          </div>
          <div class="modal-footer">
            <form method='POST' action='/user/update' enctype='multipart/form-data'>
                <div class="form-group">
                  <label for="image">Image input</label>
                  <input type="file" id="image" name="image">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="submit" value='Create' class="btn btn-primary">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    
  <%}%>
<%} else{%>
  <h1>Игрок не найден</h1>
<%}%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>