<!doctype html>
<html lang="en">
<head>
  <title>Создать</title>
  <meta name="description" content="Register">
  <meta name="author" content="NIKITA">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/signin.css" rel="stylesheet">
  <script>

    function check(obj) {
      obj.setAttribute("pattern", document.getElementById('pass').value);
    }


  </script>
</head>
<body>
<% include partials/header %>
<%if(err == 1){%>
<h1>Логин занят</h1>
<%}%>
    <form id="register-form" class="form-signin" role="form" method='POST' action='/register'>
        <h2 class="form-signin-heading">Register</h2>
        <input type="text" class="form-control" name='username' placeholder='Enter username'  required autofocus>
        <input type="password" class="form-control" name='password' id="pass" placeholder='Enter password' required>
        <input type="password" class="form-control" name='confirm-password' id="confirm-pass" oninput="check(this)" placeholder='Confirm password' required>
        <button class="btn btn-lg btn-primary btn-block" type="submit"  value='Register'>Sign in</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>