<!doctype html>
<html lang="en">
<head>
  <title>Лучшии Игроки</title>
  <meta name="description" content="BEST PLAYERS">
  <meta name="author" content="NIKITA">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/signin.css" rel="stylesheet">
</head>
<body>
<% include partials/header %>
  <h1 id='best'>Результаты поиска</h1>
  <div id ="app">
    <%if(pl){%>
      <img src="<%=pl.image%>" width="400" height="300">
      <h1><%=pl.nickname%></h1>
      <a href='/players/player/<%=pl.id%>' class="btn btn-primary btn-lg active" role="button">Подробней</a>
      <p></p>
      <%} else{%>
      <h1>Игрок не найден</h1>
      <%}%>
  </div>
      
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>