body {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}
#Wel, #best, p {
    text-align: center;
    color: white;
    font-size: 20px; 
}
p {
    text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px
}
h1, .sololink{
    text-align: center;
    color: white;
    text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px
}
.desc {
    display: block;
    width:200px;
    text-align: center;
    margin:20px auto;
}
.sololink {
    margin-right:20px;
    font-size: 20px;
}
.userRef { 
    background: black; 
    text-align: center; 
    border-radius: 5px; 
    font-weight: bold; 
    width: 200px;  
    transition: background-color 0.5s; 
    border: 1px solid white; 
} 
#index{
    margin-left: 42%;
}
.userRef:hover { 
    background-color: white; 
    border-color: black; 
} 
.userRef a { 
    display: block; 
    padding: 2px; 
    text-decoration: none; 
    color: white; 
} 
.userRef:hover a { 
    color: black; 
}


.main{
	width:65%;
	margin:70px auto 0px auto;
	text-align:center;
}
.main h2{
	font-size:80px;
	font-weight:400;
	color:#000;
}
.main h1{
	font-size:170px;
	font-weight:400;
	color:#000;
}

.main h3{
	margin:30px 0px;
	font-size:28px;
	font-weight:400;
	color:#000;
}



ul{
    display: inline;
    margin-right: 5px;
}

#curr{
    text-align: center
}
.links {
    text-align: center;
}
.img-thumbnail{
    padding-top: 20px;
}
.col-md-1{
    background-color: grey ;
    border: solid 1px black;
    position: relative;
}
.corner{
    height:80px;
    width:80px;
}

.vline{
    height:80px;
    width:80px;
}
.hline{
    height:80px;
    width:80px;
}
.mycell{
    background-color: rgb(75, 75, 238) !important;
}
.opcell{
    background-color: rgb(247, 58, 58) !important;
}

.curr{
    border: solid 3px rgb(6, 0, 70);
}

.currop{
    border: solid 3px rgb(59, 12, 12);
}

.you{
    color:rgb(75, 75, 238)
}

.op{
    color:rgb(247, 58, 58)
}

#update{
    align: center;
    margin-top: 200px;
}