    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Monopolia</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if (user) { %>
                <li><a href="/profile/<%=user.username%>">Profile</a></li>
               <li><a href='/logout'>Logout</a></li>
               <li><a href='#' data-toggle="modal" data-target="#createroom">Create</a></li>
               <li><a href='#' data-toggle="modal" data-target="#joinroom">Join</a></li>
            <%if(user.role == 'admin'){%>
               <li><a href='/admin'>Admin</a></li>
            <%}%>
            
            <% } else { %>
                <li><a href='#' data-toggle="modal" data-target="#login">Login</a></li>
                <li><a href='#' data-toggle="modal" data-target="#register">Register</a></li>
            <% } %>
          </ul>
          <form class="navbar-form navbar-right" method='GET' action='/search'>
            <input type="text" id ='username' name='username' class="form-control" placeholder="Search...">
            <button type="submit" class="btn btn-success">Search</button>
          </form>
        </div>
      </div>
    </div>


    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"> Login</h4>
          </div>
          <div class="modal-body">
            <p>Please login</p>
          </div>
          <div class="modal-footer">
            <form class="form-signin" role="form" method='POST' action='/login'>
              <input type="text" class="form-control" name='username' placeholder='Enter username'  required autofocus>
              <input type="password" class="form-control" name='password' placeholder='Enter password' required>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#register">Register</button>
                <button type="submit" class="btn btn-primary ">Login in</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>




    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"> Register</h4>
          </div>
          <div class="modal-body">
            <p>Please register</p>
          </div>
          <div class="modal-footer">
            
              <form id="register-form" class="form-signin" role="form" method='POST' action='/register'>
                <input type="text" class="form-control" name='name' placeholder='Enter username'  required autofocus>
                <input type="password" class="form-control" name='password' id="pass" placeholder='Enter password' required>
                <input type="password" class="form-control" name='confirm-password' id="confirm-pass" oninput="check(this)" placeholder='Confirm password' required>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#login">Login</button>
                <button type="submit" class="btn btn-primary ">Register</button>
                
              </div>
              </form>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="createroom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"> Create</h4>
          </div>
          <div class="modal-body">
            <p>Please enter name</p>
          </div>
          <div class="modal-footer">
            <form class="form-signin" role="form" method='POST' action='/createroom'>
              <input type="text" class="form-control" name='roomId' placeholder='Enter name room'  required autofocus>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#joinroom">Join</button>
                <button type="submit" class="btn btn-primary ">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="joinroom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"> Join</h4>
          </div>
          <div class="modal-body">
            <p>Please enter name</p>
          </div>
          <div class="modal-footer">
            <form class="form-signin" role="form" method='POST' action='/joinroom'>
              <input type="text" class="form-control" name='roomId' placeholder='Enter name room'  required autofocus>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#createroom">Create</button>
                <button type="submit" class="btn btn-primary ">Join</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>




  <script>

    function check(obj) {
      obj.setAttribute("pattern", document.getElementById('pass').value);
    }


  </script>
    


